<div class="message-list">
    <ul class="message-list__ul">
        <li class="message-list__li">
            <div class="message-item">
                <span class="message-item__author">FLM</span>
                <span class="message-item__content">Hello there!</span>
            </div>
        </li>
        <li class="message-list__li">
            <div class="message-item">
                <span class="message-item__author">AJU</span>
                <span class="message-item__content">I thrilled</span>
            </div>
        </li>
    </ul>
</div>